---
import Layout from '../layouts/Layout.astro';

---

<Layout title='About'>
    <main>
        <h1 >About</h1>
        <p class="lmao text-2xl">Hi, I'm a web developer from the UK. I'm passionate about creating fast, accessible and user-friendly websites and web applications. I'm currently working as a front-end developer at <a href="https://www.3sidedcube.com/" target="_blank" rel="noopener">3 SIDED CUBE</a>.</p>
        <p>When I'm not coding, I enjoy playing guitar, reading, and playing video games.</p>   
        
    </main>
</Layout>

<style lang="scss">
    p {
        color: red;
        &:hover {
            color: blue;
        }
    }
    
</style>
