---


import star from '../images/26(WHITE).png'
---

<div class=" h-screen px-10 py-[5rem] flex flex-col  ">
    
        <div class=" h-1/3 ">
            <div class=" font-glancyrLight text-xl">Icy Stud<span 
                class="text-neon-green font-glancyrLightItalic">i</span>o is an award<span class="text-blush-red" >-</span>winning multidisciplinary 
                <span class=" text-blush-red" >Design</span> & 
                <span class="text-neon-green">Development</span> 
                agency located in Florida, USA
            </div>
        </div>
        <div class= " flex h-auto flex-col outline ">
            <div class="text-[2.6rem] line-height font-stretchPro mb-3">
                We Turn Customers Into Fans,
            </div>
            <div class="flex h-auto outline">
                <div class="w-[80px] mr-2">
                    <img src={star.src}>
                </div>
                <div class=" font-glancyrThin text-[0.6rem] mr-6">
                    while delivering creative experiences and media strategies that 
                    supercharge campaigns to achieve sustainable business
                    growth and skyrocket reach and engagement.
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-between h-2/5 outline">
          <div class="h-full">
            
          </div>
          <div class="outline-dashed h-full">

          </div>
        </div>
   
</div>

<style>
    .line-height {
        line-height: 1.1;
    }
</style>