---

const props = Astro.props;


import world from '../images/world-gif.gif';

import star from '../images/reduced/26(WHITE).png'
import fractal from '../assets/videos/fractal-animation.mp4'
import globe from '../images/reduced/5-(WHITE).png';
import arrow from '../images/arrow-scroll.png';
import prism from '../images/15(WHITE).png';
import decor from '../images/6(WHITE).png';

import animate2 from '../images/animation-display2.png';

import { Image } from 'astro:assets';


---


<div class="h-auto px-10 pb-10 sm:px-36 sm:pt-5 sm:pb-0 flex flex-col  ">
        
    <div class="flex flex-col justify-center h-auto mb-10 items-center sm:mb-48 ">
        <h1 class="text-[3rem] sm:text-9xl mb-10 font-stretchPro bg-clip-text text-transparent gradient ">
                SERVICCES
        </h1>
        <p class=" w-1/2 text-center text-base font-glancyrThinItalic">
            We specialize in Websites, Logo’s & Branding, Animation’s, 
            Social media marketing, Design systems, Digital ADS,  
            as well as Packaging design and we’re here to take your 
            brand to new heights of perfection!
        </p>
      </div>
</div> 


<div class=" w-full h-auto ">
    <div class="flex text-xl items-center justify-between px-12 py-14">
        <h1 class=" font-glancyrRegular text-8xl" > SERVICES </h1> 
        <div>
            <Image src={world} class="h-28 w-28" alt=""/>
        </div>
    </div>
</div>

<div class=" h-auto px-12 mb-10">
    <div class=" bg-border-white h-[1px]">
    </div>
</div>


<div class="h-auto px-10 pb-10 sm:px-20 sm:pb-0 flex flex-col ">
    
    <div class="flex flex-col sm:flex-row h-auto mb-10 sm:mb-96  ">
        <div class="sm:w-2/5 h-full z-0  ">
            <Image class="max-w-[800px] w-full  " src={animate2} alt=""/>
        </div>
        <div class=" sm:w-3/5 flex sm:flex-col gap-3 justify-center items-center ">
            <div class="flex gap-14 text-center ">
                <h1 class=" text-right sm:w-1/3 font-glancyrRegular sm:text-3xl">
                    IMPAULSIVE WEB DEVELOPMENT
                </h1>
                  <p class="text-left sm:w-2/3 font-glancyrThin text-xs mb-4 sm:mb-8 sm:text-2xl box-shadow6 ">
                    Combining unique design and rich technology we build 
                    digital products exactly as they were designed, without shortcuts or any
                    simplifications which makes us <span class=" text-neon-green">STAND OUT!</span>
                  </p>
            </div>
            <div class="flex gap-14 text-center ">
                <h1 class=" text-right sm:w-1/3 font-glancyrRegular sm:text-base">
                    AREAS
                </h1>
                  <p class="text-left sm:w-2/3 font-glancyrThin text-xs mb-4 sm:mb-8 sm:text-2xl box-shadow6 ">
                    Combining unique design and rich technology we build 
                    digital products exactly as they were designed, without shortcuts or any
                    simplifications which makes us <span class=" text-neon-green">STAND OUT!</span>
                  </p>
            </div>
        </div>
        
        
    </div>

</div>



<style>
     .gradient {
        background: linear-gradient(312.07deg, #B3E823 -35.99%, #FCE1E1 82.9%, #FFFFFF 172.6%);
        background-clip: text;
    }
</style>