---


---

<div class="h-auto px-10 pb-10 pt-20 sm:pt-48 sm:px-36 sm:pb-0 flex flex-col  ">
    
        <div class=" h-1/3 sm:flex sm:flex-col justify-center ">
            <div class="sm:flex sm:justify-center sm:items-center">
                <div class=" font-glancyrLight text-xl sm:text-7xl mb-6 sm:mb-16">Icy Stud<span 
                    class="text-neon-green font-glancyrLightItalic">i</span>o is an award<span class="text-blush-red" >-</span>winning multidisciplinary  
                    <span class=" text-blush-red" >Design</span> & 
                    <span class="text-neon-green">Development</span> 
                    agency located in Florida, USA
                </div>
            </div>
            

            <div class="flex p-0 justify-center">
                <button class="btn border-none h-8 w-48 text-base sm:h-14 sm:w-72 sm:text-2xl">
                    <div class="btn__bg">
                        <span class="btn__bg__layer btn__bg__layer-first"></span>
                        <span class="btn__bg__layer btn__bg__layer-second"></span>
                        <span class="btn__bg__layer btn__bg__layer-third"></span>
                    </div>
                    <span class="btn__text-out text-black font-glancyrRegular">LET'S CREATE MAGIC!</span>
                    <span class="btn__text-in text-black font-glancyrRegular">LET'S CREATE MAGIC!</span>
                </button>
            </div>
        </div>

        <div class= " flex h-auto flex-col sm:flex-row sm:mb-20 ">
            <div >
                <div class="mb-6">
                    <div class="flex justify-end relative top-4 z-10 sm:top-12 ">
                        <div id='circle' class= " font-glancyrLight text-xs" 
                        data-text="WETURN&nbsp;WETURN&nbsp;WETURN&nbsp;">
                        </div>
                    </div>
                    <div class="text-[2.6rem] sm:text-[6.5rem] line-height font-stretchPro ">
                        We Turn <br> Customers <br> Into Fans,
                    </div>
                </div>
                <div class="flex h-auto ">
                    <div class="w-[80px] mr-2">
                        <img src={star.src}>
                    </div>
                    <div class=" font-glancyrThin text-[0.6rem] sm:text-base mr-6 ">
                        while delivering creative experiences and media strategies that <br> supercharge 
                        campaigns to achieve sustainable business
                        growth <br> and skyrocket reach and engagement.
                    </div>
                </div>
            </div>
            <div class=" hidden sm:visible sm:flex min-w-full">

            </div>
            
        </div>
       
        
        <div class="flex flex-col sm:flex-row h-auto mb-10 sm:mb-20">
            <div class="sm:w-7/12 h-[10rem] ">
              
            </div>
              <div class="sm:w-5/12 h-full ">
                  <div class=" font-glancyrRegular text-base mb-2 sm:mb-4 sm:text-6xl"> WE KNOW THE VALUE OF YOUR WORK, 
                      IT'S TIME YOUR CUSTOMER'S DID TOO!
                  </div>
                  <p class=" font-glancyrThin text-xs mb-4 sm:mb-8 sm:text-xl">
                      You put your heart and soul into your business, but hardwork
                      can't get you so far and a poor brand presence will have you working
                      overtime and not seeing any results.
                  </p>
                  <p class="font-glancyrThin text-xs sm:text-xl">
                     So it's time to set yourself as the industry leader you've become
                     with a kick-ass brand your customers genuinely love. A website
                     and Design systems that works as hard as you do!
                  </p>
            </div>
          </div>

        <div class="flex sm:h-[70px] h-[40px] outline outline-1">
              <div class=" font-glancyrThin text-[0.6rem]">
                <span> HEADLINE    HEADLINE    HEADLINE    HEADLINE    HEADLINE    HEADLINE    HEADLINE    HEADLINE     HEADLINE   HEADLIINE   -&nbsp;</span>
              </div>
        </div>
  
</div>
